/* Start Global Rules */

body {
    font-family: "Cairo", sans-serif;
}

.main-btn {
    background-color: var(--main-color);
    color: whitesmoke;
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    background-color: whitesmoke;
    color: var(--main-color);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
    /*font-family: "Poppins", sans-serif;*/
}

:root {
    --main-color: #2196f3;
    --dark-color: #191919;
    --main-color-alt: #1787e0;
    --text_color: rgba(255, 255, 255, .5) !important;
    --main-transition: 0.4s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before, .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/* End Global Rules */


/********************* Start Header Rules **************************/
/* Start Navbar */
.navbar {
    background-color: #19191903;
}

.bg-black {
    background: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--main-color-alt);
    border-top: 3px solid var(--main-color-alt);
}

@media (min-width: 992px) {
    .navbar .search {
        border-left: 1px solid var(--main-color);
    }
}

@media (max-width: 992px) {
    .navbar .search {
        padding-bottom: 1rem;
    }
}

.navbar .search svg {
    color: white;
}

.navbar .search :hover {
    color: var(--main-color);
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--main-color);
}

.navbar .dropdown-menu {
    --bs-dropdown-min-width: 6rem;
}

.navbar .dropdown-item {
    color: var(--main-color-alt);
    background-color: var(--bs-dropdown-link-hover-bg);
}

.navbar .dropdown-item:hover {
    color: whitesmoke;
    background-color: var(--main-color);
}

/*.navbar .dropdown .btn {*/
/*    background: var(--main-color);*/
/*}*/

/* End Navbar */


/* Start Landing Rules */

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*padding: 15px 200px;*/
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: .7em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}


.bg-black-transparent {
    background: #22A7F0;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--main-color);
    z-index: 1;
    top: -68px;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background-size: 30px;
        background: url(../../uploads/frontend/images/menu2.png) no-repeat center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(../../uploads/frontend/images/menu2.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

@media (max-width: 560px) {
    .home .content h1 {
        font-size: 3em;
        line-height: 60px;
    }
}

/* End Landing Rules */
/********************* End Header Rules **************************/
/********************* Start News Rules **************************/

.news {
    min-height: 100vh;
}

/********************* End News Rules **************************/


/********************* Start Footer Rules **************************/


.footer {
    background-color: var(--dark-color);
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .instagram {
    background-color: #c13584;
}

.footer .youtube {
    background-color: #ff0000;
}

.footer .links li {
    padding: 10px 0;
    transition: var(--main-transition);
}

.footer .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .links li:hover {
    padding-left: 10px;
}

.footer .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
    font-size: 14px;

}

.footer .links li:hover a {
    color: white;
}

.footer .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}


.footer .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .line {
        flex-direction: column;
    }
}

.footer .line svg {
    font-size: 18px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .line svg {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer .line .info {
    line-height: 1.5;
    flex: 1;
    font-size: 12px;
}

.footer .line .info span {
    display: block;
}


.footer .contact ul svg {
    width: 20px;
    height: 20px;
}


.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 8px 0 0;
    border-top: 1px solid #444;
}

.footer .copyright > span {
    color: var(--main-color);
}

.footer .copyright div span {
    color: var(--main-color-alt);
}

/********************* End Footer Rules **************************/
